.imgbody {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
}

h1 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 22px;
}

h2 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 22px;
}

footer {
    text-align: center;
    background: url(imagenes/bg.jpg);
    /*pongo una imagen en mi footer */
    padding: 40px;
    margin-top: auto;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

#banner {
    width: 100%;
    display: block;
}

header {
    background-color: #97966f;
    padding: 20px;
}

nav {
    position: relative;
    text-align: center;
}


.caja {
    width: 940px;
    /* la gran mayoria de las pantallas tienen este tamaño*/
    position: relative;
    margin: 0 auto;
    /* tiene que ser en 0 y auto para que lo haga automatico */
}


nav li {
    display: inline;
    margin: 0 0 0 50px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    /*hover captura los movimientos del mouse*/
    color: #c78c19;
    text-decoration: underline;
    /*HACE UN SUBRAYADO */
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    /*agrando el input */
    width: 50%;
    /* el input ocupara el 50% de los 940px */
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;

}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 40px 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}
td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}